:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--gold1: rgb(255, 217, 0);
	--gold2: rgba(255, 217, 0, 0.172);
    --silver1: rgba(247, 246, 248, 0.783);
	--silver2: rgba(132, 133, 133, 0.32);
    --bronze1: rgb(190, 122, 38);
	--bronze2: rgba(190, 122, 38, 0.194);
}

@property --angle {
	syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
	syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
	syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

.movie-card {
	margin: max(1rem, 3vw);
    background-color: rgb(59, 55, 55);
	border: 0.35rem solid;
	padding: 3vw;
	animation: borderRotate var(--d) linear infinite forwards;
}


.movie-card:nth-child(2) {
	animation: borderRadial var(--d) linear infinite forwards;
}

.movie-card-gold {
	border-image: conic-gradient(from var(--angle), var(--gold2), var(--gold1) 0.1turn, var(--gold1) 0.15turn, var(--gold2) 0.25turn) 30;
}
.movie-card-gold:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--gold1), var(--gold1) 10%, var(--gold2) 40%) 30;
}

.movie-card-silver {
	border-image: conic-gradient(from var(--angle), var(--silver2), var(--silver1) 0.1turn, var(--silver1) 0.15turn, var(--silver2) 0.25turn) 30;
}
.movie-card-silver:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--silver1), var(--silver1) 10%, var(--silver2) 40%) 30;
}

.movie-card-bronze {
	border-image: conic-gradient(from var(--angle), var(--bronze2), var(--bronze1) 0.1turn, var(--bronze1) 0.15turn, var(--bronze2) 0.25turn) 30;
}
.movie-card-bronze:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--bronze1), var(--bronze1) 10%, var(--bronze2) 40%) 30;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.movie-card-image {
	 width: 100%;
}

body{
	font-family: 'Urbanist', sans-serif;
};
